{{- define "main" }}

{{- if .IsHome }}
  {{- partial "index_profile.html" . }}
{{- end }}

{{- if not .IsHome | and .Title }}
  {{- partial "page_header.html" . }}
{{- end }}

{{- if .Content }}
<div class="post-content">
  {{- if not (.Param "disableAnchoredHeadings") }}
    {{- partial "anchored_headings.html" .Content -}}
  {{- else }}
    {{ .Content }}
  {{- end }}
</div>
{{- end }}

{{- $pages := union .RegularPages .Sections }}

{{- if .IsHome }}
  {{- $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
  {{- $pages = where $pages "Params.hiddenInHomeList" "!=" "true" }}
{{- end }}

{{- $paginator := .Paginate $pages }}

{{- if and .IsHome site.Params.homeInfoParams (eq $paginator.PageNumber 1) }}
  {{- partial "home_info.html" . }}
{{- end }}

{{- $term := .Data.Term }}
{{- range $index, $page := $paginator.Pages }}

  {{- $class := "post-entry" }}

  {{- $user_preferred := or site.Params.disableSpecial1stPost site.Params.homeInfoParams }}
  {{- if and $.IsHome (eq $paginator.PageNumber 1) (eq $index 0) (not $user_preferred) }}
    {{- $class = "first-entry" }}
  {{- else if $term }}
    {{- $class = "post-entry tag-entry" }}
  {{- end }}

  <article class="{{ $class }}">
    {{- $isHidden := (.Param "cover.hiddenInList") | default (.Param "cover.hidden") | default false }}
    {{- partial "cover.html" (dict "cxt" . "IsSingle" false "isHidden" $isHidden) }}