{{- $title := .Get "title" | default "Embedded content" -}}
{{- $height := .Get "height" | default "600px" -}}
{{- $src := .Get "src" -}}
{{- $res := .Page.Resources.GetMatch (printf "**/%s" $src) -}}
{{- if $res }}{{ $src = $res.RelPermalink }}{{ end -}}

<figure style="border:1px solid #ccc; background-color:#FFF; border-radius:8px; overflow:hidden; width:100%; margin:0;padding:0;">
<figcaption style="padding:8px 12px; font-weight:600; font-size:16px; color:black; border-bottom:1px solid #ccc;">Embedded content</figcaption>
<iframe src="{{ .Get "src" }}" height="{{ $height }}" title="{{ $title }}" style="border:0;width:100%;display:block;margin:0px" loading="lazy"></iframe>
</figure>
